{# Main window #}
{% extends '::layout.html.twig' %}
{% block title %}Main page{% endblock %}
{% block body %}


{% block headings %}
{{ parent() }}
{% endblock %}

{% block menu %}
{{ parent() }}

{% endblock %}

{% block main %}
This is the main page!
Dummy actions:
{{ include('QuentinBaBundle:Bricks:showlist.html.twig', {'list' : recentActions}) }}
{% endblock %}


{#{% block navigationbar %}
{{ parent() }}
{% endblock %}#}


{{ include('QuentinBaBundle:Main:lowerbar.html.twig') }}

{% endblock %}
