navigation bar (on the left side)<br>
<a href="{{path('main')}}">Main</a><br>
<a href="{{path('settings')}}">Settings</a><br>
{# <a href="{{path('associations')}}"</a><br> #}
{# <a href="{{path('Users')}}"</a><br> #}
