<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Ba!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {#<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
  </head>

  <body>
    {% block body %}

    {% block headings %}
    {{ include('QuentinBaBundle:Main:titlebar.html.twig') }}
    {% endblock %}

    {% block menu %}
    {{ include('QuentinBaBundle:Main:navigationBar.html.twig') }} 
    {% endblock %}


    {% block main %}
    {% endblock %}

    {% endblock %}
    {% block javascripts %}{% endblock %}
  </body>

</html>
