{% extends "::base.html.twig" %}

{% block title %}QuentinBaBundle:History:recent Actions récentes{% endblock %}

{% block body %}
<h1>Welcome to the History:recent page Aujourd'hui</h1>
today
<h1>hier</h1>
{{ days }}
hier
{% endblock %}
